.logo {
  position: absolute;
  margin: auto;
  top: auto;
  left: 43%;
  max-height: 35%;
  max-width: 35%;
}

.Slogan {
  font-family: "Raleway", sans-serif;
  font-size: 0.2em;
  font-weight: bolder;
  position: relative;
  top: auto;
  left: auto;
  margin: auto;
  padding-top:24%;
}

@media only screen and (max-width: 740px) {
   .Slogan{
  padding-top:40%;
  

  }
  h1{
    font-size: 9.2em;
  }
  .logo {
    position: absolute;
    margin: auto;
    top: auto;
    left: 32.5%;
    max-height: 35%;
    max-width: 35%;
  }

}
@media only screen and (min-width: 765px) {
  .Slogan {
    padding-top: 42%;
  }
  h1 {
    font-size: 9.2em;
  }
  .logo {
    position: absolute;
    margin: auto;
    top: auto;
    left: 32.5%;
    max-height: 35%;
    max-width: 35%;
  }
}


