<div class="container">
  <!-- Trigger the modal with a button -->
 

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <!-- Modal content-->
    <div class="col-lg-offset-4 col-lg-4" id="panel">
      <h2>Contact Us</h2>

      <form>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Message</label>
        </div>
        <div class="group">
           <button type="submit" class="btn btn-warning">Send
             <span class="glyphicon glyphicon-send"></span></button>
           
        </div>
      </form>
    </div>

  </div>
</div>
