<div class="container">
  <!-- Trigger the modal with a button -->


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <!-- Modal content-->
    <div class="col-lg-offset-4 col-lg-4" id="panel">
      <h2>Contact Us</h2>

      <form action="../../../assets/send.php" method="POST">

        <div class="group">
          <input type="" required name="name" placeholder="Name"autocorrect=off autocapitalize=words>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>

        <div class="group">
          <input type="text" required name="email" placeholder="Email" autocorrect=off autocapitalize=words>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="group">
          <input type="text" required name="msg" placeholder="Message"autocorrect=off autocapitalize=words>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Message</label>
        </div>
        <div class="group">
          <input type="submit" name="submit" class="btn "value="Send"/>
       

        </div>
      </form>
    </div>

  </div>
</div>
