

<div class="container-fluid margin-top-100">
        <div id="Carou" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="row">
                <ol class="carousel-indicators">
                    <li data-target="#Carou" data-slide-to="0" class="active"></li>
                    <li data-target="#Carou" data-slide-to="1"></li>
                    <li data-target="#Carou" data-slide-to="2"></li>
                    <li data-target="#Carou" data-slide-to="4"></li>
                    <li data-target="#Carou" data-slide-to="5"></li>
                </ol>
            </div>
            <!-- Wrapper for slides -->

           <div class="carousel-inner">
                 <!--First Slide-->
                <div class="carousel-item active">
                  
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3  card">
                            <img src="" alt="IMG " /></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 card" ><img src="" alt="IMG " /></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3  card" ><img src="" alt="IMG " /></div>
                    </div>
                </div>






               <!--Second Slide-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3  card" ><img src="" alt="IMG " /></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 card" ><img src="" alt="IMG " /></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3  card" ><img src="" alt="IMG " /></div>
                    </div>
                </div>
            

       </div>
    </div>
    <!--End of Carousel-->
</div>
<!--end container div-->