<div id="nav">
  <div class="container">

    <ul class=" line">
      <li class="col-md-3 drop  line">
        <a [routerLink]="['/carousel']"> Profile</a>
      </li>
      <li class="col-md-3 line"><a href=" http://mailchi.mp/ce068a810a62/88-business-collective-applications-open-279283?e=[UNIQID]">Funding</a></li>
      <li class="col-md-3 line"><a href=" http://mailchi.mp/22f1a623d9e2/88bcafrica-weekly-newsletter-284595?e=[UNIQID]">Newsletter</a></li>
      <li class="col-md-3 line"><a data-toggle="modal" data-target="#myModal">Contact Us</a></li>
    </ul>
  </div>
</div>

<app-contact-us ></app-contact-us>