<div id="nav">
  <div class="container">

    <ul class=" line">
      <li class="col-md-3 drop  line">
        <a data-toggle="modal" data-target="#Profile"> Profile</a>
      </li>
      <li class="col-md-3 line">
        <a href="https://candystick.co.za/c/880-by-88/%C2%A0%C2%A0%20" target="_blank">Funding</a>
      </li>

      <li class="col-md-3 line">
        <a href="http://us15.campaign-archive.com/?u=81659b012f1c1d44cdf238437&id=8697a1496f" target="_blank">Newsletter</a>
      </li>
      <li class="col-md-3 line">
        <a data-toggle="modal" data-target="#myModal">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
<app-contact-us></app-contact-us>
<app-profile></app-profile>